#webcam {
	background-color: black;
}

#blinkStatus {
	color: yellow;
}

.clickable {
	width: 1em;
	height: 1em;
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	-webkit-box-shadow: 0px 1px 3px #050505;
	-moz-box-shadow: 0px 1px 3px #050505;
	box-shadow: 0px 1px 3px #050505;
	
	border: solid #707070 2px;
	text-align: center;
}

.clickable:active {
	border-radius: 4px;
	-webkit-box-shadow: 0px 1px 3px #050505 inset;
	-moz-box-shadow: 0px 1px 3px #050505 inset;
	-o-box-shadow: 0px 1px 3px #050505 inset;
	box-shadow: 0px 1px 3px #050505 inset;
}

.toolButton {
	background: grey;
	opacity: 0.5;
}
